<mjml>
  <mj-body>
    <mj-section>
      <mj-column>
        <mj-text> Welcome {{ user.name }} </mj-text>
        <mj-text>
          <a href="{{ url }}">Click here</a> to verify your email address.
        </mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>
